{% extends 'base.html' %}

{% load static %}

{% block title %}Camomila Informe Pedidos{% endblock %}

{% block content %}

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg=" {% static 'core/img/banner_camomila.png' %} "  style="box-shadow: 10px 20px 30px  rgba(0, 0, 0, 0.9); ">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Informe Pedidos Camomila</h2>
                        <div class="breadcrumb__option">
                            <a href="{% url 'home' %}">Inicio</a>
                            <span>Informe Pedidos</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </section>

    
    <div  class="container  mb-4 mt-5 " style="width: 100%;" >
        <div class="modal-content p-3">

            <h4>Historial de Pedidos de: {{ user.first_name }} {{ user.last_name }} </h4>
            <br>
            <div class="col-lg-12 col-md-12 centered">
                {% for p in pedido %}
                <div class="checkout__order p-2">
                    <div class="row" >
                        <div class='col-3'>
                            <h5><strong>Pedido N°  </strong> {{ p.pk }} </h5>
                        </div>
                        <div class='col-6'>
                            <h5><strong>Realizado el: </strong>  {{ p.created_at }} </h5>
                        </div>
                        <div class='col-3'>
                            <h5><strong> {{ p.get_estado_display }}</strong> </h5>
                        </div>

                    </div>

                    <div class='p-3'>
                        <table border='1'>
                            <tr>
                                <th width="80px" style="text-align: center;">Cantidad</th>
                                <th width="500px" style="text-align: center;">Producto</th>
                                <th width="120px" style="text-align: center;">Precio Unitario</th>
                            </tr>
                            {% for lp in lineapedido %}
                            {% if lp.pedido == p %}
                            
                            <tr>
                                
                                <td width="80px" style="text-align: center;">{{ lp.cantidad }}</td>
                                <td width="500px">{{ lp.producto }}</td>
                                <td width="120px" style="text-align: right;"> $ {{ lp.precio|floatformat:2 }}</td>
                            </tr>
                            
                                    
                            {% endif %}
                            {% endfor %}
                        </table>
                    </div>
                    
                    <h5><strong>Total $ {{ p.importe_total | floatformat:2 }} </strong> </h5>
                    <hr>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    
{% endblock %}