{% extends 'base.html' %}

{% load static %}

{% block title %}Camomila Pago{% endblock %}

{% block content %}

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg=" {% static 'core/img/banner_camomila.png' %} "  style="box-shadow: 10px 20px 30px  rgba(0, 0, 0, 0.9); ">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Pago Pedido Camomila</h2>
                        <div class="breadcrumb__option">
                            <a href="{% url 'home' %}">Inicio</a>
                            <span>Pago Pedido</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </section>

    <br><br>
    
    <div  class=" modal-dialog-centered centered " style="width:100%;" >
        <div class="modal-content p-lg-3"   >

        
            <h4> {{ user.first_name }} {{ user.last_name }} muchas gracias por su compra!    </h4>

            <br> 

            <h5> Recibirá un correo a su dirección indicada con los datos de este pedido para su información. </h5>
            <h5> También desde su perfil podrá ver los pedidos realizados y su estado. </h5>

            <br>

            <div class="col-lg-12 col-md-12 centered">
                <div class="checkout__order">
                    <h4>Pedido N° {{ numero_pedido }} </h4>
                    <table class="table">
                        <thead class="table-secondary">
                        <tr>
                            <th>Producto</th>
                            <th>Cant</th>
                            <th>P.Unit</th>
                            <th>Precio</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for lp in lineapedidos %}  
                        <tr>
                            <td>{{ lp.producto }}</td>
                            <td> {{ lp.cantidad }} </td>
                            <td> {{ lp.precio | floatformat:2 }} </td>
                            <td> {{ lp.total_producto | floatformat:2 }}  </td>
                        </tr>
                        {% endfor %}
                    </table>
                    
                    <div class="checkout__order__subtotal">Total <span>${{ total| floatformat:2 }}</span></div>
                    
                    <div class="checkout__order__subtotal">Cantidad de productos <span>{{ total_unidades }}</span></div>
                    <div class="checkout__input__checkbox"></div>
                    
                </div>
            </div>
            <br>
            
            <form action="" method="GET" enctype="multipart/form-data">
                <div class="container p-0">
                    <div class="card px-4">
                        <p class="h8 py-3">Detalle de Pago</p>
                        <div class="row gx-3">
                            <div class="col-12">
                                <div class="d-flex flex-column">
                                    <p class="text mb-1">Nombre</p>
                                    <input class="form-control mb-3" type="text" placeholder="Nombre y Apellido" >
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="d-flex flex-column">
                                    <p class="text mb-1">Número de Tarjeta</p>
                                    <input class="form-control mb-3" type="text" placeholder="1234 5678 4356 5678">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="d-flex flex-column">
                                    <p class="text mb-1">Vencimiento</p>
                                    <input class="form-control mb-3" type="text" placeholder="MM/YYYY">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="d-flex flex-column">
                                    <p class="text mb-1">CVV/CVC</p>
                                    <input class="form-control mb-3 pt-2 " type="password" placeholder="***">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="btn btn-secondary mb-3">
                                    <span class="ps-3">Pago $ {{ total| floatformat:2 }} </span>
                                    <span class="bi bi-arrow-right"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
            <br>
            <h5> En breve nos comunicaremos telefonicamente con Usted para coordinar la entrega de los productos comprados.</h5>
            <br>
        </div>
    </div>

        <br> <br>

{% endblock %}